:root {
    /* COLOR PALETTE */
    --black: #000000;
    --gray100: #181818;
    --gray90: #303030;
    --gray80: #494949;
    --gray70: #616161;
    --gray60: #7a7a7a;
    --gray50: #929292;
    --gray40: #aaaaaa;
    --gray30: #c3c3c3;
    --gray20: #dbdbdb;
    --gray10: #f4f4f4;
    --gray5: #fafafa;
    --white: #ffffff;
    --coolGray100: #121619;
    --coolGray90: #21272a;
    --coolGray80: #343a3f;
    --coolGray70: #4d5358;
    --coolGray60: #697077;
    --coolGray50: #878d96;
    --coolGray40: #a2a9b0;
    --coolGray30: #c1c7cd;
    --coolGray20: #dde1e6;
    --coolGray10: #f2f4f8;
    --coolGray5: #f6f7fa;
    --warmGray100: #191918;
    --warmGray90: #313030;
    --warmGray80: #4a4848;
    --warmGray70: #626160;
    --warmGray60: #7b7979;
    --warmGray50: #949191;
    --warmGray40: #acaaa9;
    --warmGray30: #c5c2c1;
    --warmGray20: #dedad9;
    --warmGray10: #f7f3f2;
    --warmGray5: #fcfaf9;
    --blue100: #001149;
    --blue90: #002676;
    --blue80: #003ca4;
    --blue70: #0052d1;
    --blue60: #0068ff;
    --blue50: #2e83ff;
    --blue40: #5c9eff;
    --blue30: #8ab9ff;
    --blue20: #b8d4ff;
    --blue10: #e6f0ff;
    --red100: #380212;
    --red90: #69141f;
    --red80: #9b272c;
    --red70: #cd3939;
    --red60: #ff4c46;
    --red50: #ff6b63;
    --red40: #ff8a81;
    --red30: #ffa99e;
    --red20: #ffc8bc;
    --red10: #ffe7da;
    --green100: #034631;
    --green90: #0a674a;
    --green80: #117d50;
    --green70: #1c9b5a;
    --green60: #28b961;
    --green50: #38d867;
    --green40: #66e780;
    --green30: #87f391;
    --green20: #b0fbb0;
    --green10: #dbfdd7;
    --cyan100: #05254f;
    --cyan90: #06397a;
    --cyan80: #0b4f93;
    --cyan70: #1170b7;
    --cyan60: #1995db;
    --cyan50: #23beff;
    --cyan40: #59d9ff;
    --cyan30: #7ae9ff;
    --cyan20: #a6f6ff;
    --cyan10: #d3fdff;
    --purple100: #24076b;
    --purple90: #330c81;
    --purple80: #4a13a0;
    --purple70: #631cbf;
    --purple60: #8027df;
    --purple50: #a759eb;
    --purple40: #c27bf5;
    --purple30: #cd90f1;
    --purple20: #dca8fb;
    --purple10: #efd3fd;
    --magenta100: #730d49;
    --magenta90: #8b1650;
    --magenta80: #ad235a;
    --magenta70: #cf3362;
    --magenta60: #f1476a;
    --magenta50: #f67482;
    --magenta40: #fa9092;
    --magenta30: #fdbbb6;
    --magenta20: #fecbc7;
    --magenta10: #fee0da;
    --teal100: #034b5d;
    --teal90: #00627a;
    --teal80: #008593;
    --teal70: #00b6b7;
    --teal60: #00dbc7;
    --teal50: #05ebd6;
    --teal40: #00ffd0;
    --teal30: #66ffc5;
    --teal20: #99ffcf;
    --teal10: #ccffe2;
    --yellow100: #7a4900;
    --yellow90: #935d00;
    --yellow80: #b77901;
    --yellow70: #db9702;
    --yellow60: #ffb803;
    --yellow50: #ffc904;
    --yellow40: #ffda42;
    --yellow30: #ffe568;
    --yellow20: #fff09a;
    --yellow10: #fff8cc;
    --darkBlue100: #0a0e1a;
    --darkBlue90: #111726;
    --darkBlue80: #1a2033;
    --darkBlue70: #2b344d;
    --darkBlue60: #3f4a66;
    --darkBlue50: #576280;
    --darkBlue40: #717c99;
    --darkBlue30: #8f98b3;
    --darkBlue20: #afb7cc;
    --darkBlue10: #d7dbe5;
    --orange100: #7a1100;
    --orange90: #931e00;
    --orange80: #b73000;
    --orange70: #db4700;
    --orange60: #ff6200;
    --orange50: #ff943f;
    --orange40: #ffb366;
    --orange30: #ffd299;
    --orange20: #ffebcc;
    --orange10: #fff6e9;
}